.grid{
    padding: 70px 20% 40px;
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px 10% ;
    grid-template-columns: repeat( auto-fit, minmax(240px, 1fr));
    background-color: rgb(175 222 225);
}
.RoutesTitle{
    background-color: rgb(175 222 225);
    text-align: center;
    padding-top: 30px;

}