.banner{
    background-color: #b5bef0;
    width: 60%;
    padding: 0 20%;
    position: relative;
    height: 300px;
}
.imageBanner {
    width: 100%;
    text-align: center;
}
.img{
    height: 100%;
}
.shadow {
    background-color: #00000042;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.text{
    position: absolute;
    top: 50px;
    width: 450px;
    color: white;
    z-index: 2;
}