.card {
    position: relative;
    background-color: #Fff;
    min-width: 200px;
}
.picture{
    height: 200px;
}
.pictureCourse{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description{
    padding: 20px;
}
.title {
    align-items: center;
    border-bottom: 1px solid #8f8f8f73;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    line-height: 1.08;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    
}
.ribbon {
    height: 102px;
    overflow: hidden;
    position: absolute;
    width: 102px;
    z-index: 1;
    left: -10px;
    top: -10px;
}
.ribbon-top-left span {
    right: -25px;
    top: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ribbon span {
    background-color: #6000de;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    display: block;
    font: 700 13px/1 Poppins, sans-serif;
    padding: 7px 0 7px 25px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    width: 152px;
}
.ribbon-top-left:before {
    right: 1px;
    top: 0;
}
.ribbon-top-left:after {
    bottom: 1px;
    left: 0;
}
.ribbon:after,
.ribbon:before {
    border: 5px solid #4c03aa;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
}
.ribbon-top-left:after,
.ribbon-top-left:before {
    border-left-color: transparent;
    border-top-color: transparent;
}
.route{
    display: flex;
    padding: 5px;
    align-items: center;
}
.number{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #4c03aa;
    color: #Fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    position: absolute;
    font-size: 11px;
    font-weight: 600;
}
.name{
    margin-left: 26px !important;
    font-size: 14px;
}
.info{
    font-size: 14px;
    margin-bottom: 10px;
}
.pathContainer{
    position: relative;
}
.path{
    width: 1px;
    height: 78%;
    background-color: #c7bfbf;;
    position: absolute;
    left: 15px;
    top: 14px;
}