.banner{
    background-color: #e78bba;
    width: 100%;
    position: relative;
    height: 300px;
}
.containerInfo{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}
.imageBanner {
    text-align: end;
}
.infoCourse{
    background-color: #edcda8;
        z-index: 2;
        padding: 10px;
        font-size: 14px;
        height: 20%;
        width: 238px;
        border-radius: 0 0 8px 8px;
}
.img{
    height: 100%;
}
.shadow {
    background-color: #00000042;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.text{
    width: 300px;
    color: white;
    z-index: 2;
    padding: 20px;
}
.text h1{
   font-size: 2rem;
}
.infoCourse ul{
    margin: 0;
}